@import "tailwindcss";



body[lang="en"] {
  font-family: var(--font-inter);
}

body[lang="ar"] {
  font-family: var(--font-cairo);
}
body {
  @apply min-h-screen;
  background: linear-gradient(to bottom, #f0f9ff, #ffffff);
}
